.separa {
    margin-right: 15px;
  }
  
  table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }
  
  .flujoLink {
    color           : #007bff;
    text-decoration : none;
    background-color: transparent;
  }

  .row {
    margin-right: 5%;
    margin-left: -15px;

}