<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"> Consultas de Alertas: Tipo de Cambio</h4>
            </div>
            <div class="card-header">
                <div class="row">
                    <div class="col-md-3 px-1">
                        <div class="form-group">
                            <label>Fecha desde</label>
                            <input type="date" class="form-control" placeholder="dd/mm/yyyy">
                        </div>
                    </div>
                    <div class="col-md-4 pl-1">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Hasta</label>
                            <input type="date" class="form-control" placeholder="dd/mm/yyyy">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1 px-1">
                        <div class="update ml-auto mr-auto">
                            <button (click)="buscar()" class="btn btn-primary btn-round">Ejecutar</button>
                        </div>
                    </div>
                    <div class="col-md-1 px-1">
                        <div class="update ml-auto mr-auto">
                            <button (click)="createPdf()" class="btn btn-primary btn-round">Imprimir</button>
                        </div>
                    </div>
                    <div class="col-md-1 px-1">
                        <div class="update ml-auto mr-auto">
                            <button class="btn btn-primary btn-round" routerLink="/consultasDM">Salir</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataResponse" matSort class="mat-elevation-z8">
                
                            <!-- Position Column -->
                            <ng-container matColumnDef="baseDatos">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Base de datos</th>
                                <td mat-cell *matCellDef="let element">{{element.name}}</td>
                            </ng-container>
                
                            <!-- Position Column -->
                            <ng-container matColumnDef="tabla">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Tabla </th>
                                <td mat-cell *matCellDef="let element"> {{element.username}} </td>
                            </ng-container>
                
                            <!-- Name Column -->
                            <ng-container matColumnDef="mensajeError">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Mensaje Error </th>
                                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                            </ng-container>
                
                            <!-- Weight Column -->
                            <ng-container matColumnDef="tipoCambio">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo cambio </th>
                                <td mat-cell *matCellDef="let element"> {{element.programar}} </td>
                            </ng-container>
                
                
                            <!-- Symbol Column -->
                            <ng-container matColumnDef="moneda">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Moneda </th>
                                <td mat-cell *matCellDef="let element"> {{element.ejecutar}} </td>
                            </ng-container>
                
                            <!-- Symbol Column -->
                            <ng-container matColumnDef="fechaActivacion">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha activación </th>
                                <td mat-cell *matCellDef="let element"> {{element.ejecutar}} </td>
                            </ng-container>
                
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                
                        <mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>