<div class="row">
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats" routerLink="/tipoCambio">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="fa fa-money text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category"></p>
              <p class="card-title">Tipo Cambio</p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr />
        <div class="stats">
          <!--i class="fa fa-calendar-o"></i> Last day -->
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats" routerLink="/jerarquiaOrganizativa">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-vector text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category"></p>
              <p class="card-title">Jerarquia Organizativa</p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr />
        <div class="stats">
          <!--i class="fa fa-calendar-o"></i> Last day -->
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats" routerLink="/creacionAlmacen">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="fa fa-plus text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category"></p>
              <p class="card-title">Creación Almacén</p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr />
        <div class="stats">
          <!--i class="fa fa-calendar-o"></i> Last day -->
        </div>
      </div>
    </div>
  </div>
</div>

<!--      -->

<div class="row">
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats" routerLink="/creacionTienda">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="fa fa-plus text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category"></p>
              <p class="card-title">Creación Tienda</p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr />
        <div class="stats">
          <!--i class="fa fa-calendar-o"></i> Last day -->
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats" routerLink="/proveedores">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="fa fa-users text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category"></p>
              <p class="card-title">Proveedores</p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr />
        <div class="stats">
          <!--i class="fa fa-calendar-o"></i> Last day -->
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats" routerLink="/impuestos">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="fa fa-money text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category"></p>
              <p class="card-title">Impuestos</p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr />
        <div class="stats">
          <!--i class="fa fa-calendar-o"></i> Last day -->
        </div>
      </div>
    </div>
  </div>
</div>

<!--      -->

<div class="row">
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats" routerLink="/creacionArticulosNormales">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="fa fa-plus text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category"></p>
              <p class="card-title">Creación Artículos Normales</p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr />
        <div class="stats">
          <!--i class="fa fa-calendar-o"></i> Last day -->
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats" routerLink="/creacionArticulosServicio">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="fa fa-plus text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category"></p>
              <p class="card-title">Creación Artículos Servicio</p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr />
        <div class="stats">
          <!--i class="fa fa-calendar-o"></i> Last day -->
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats" routerLink="/mantenimientoArticulos">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="fa fa-users text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category"></p>
              <p class="card-title">Mantenimiento Artículos</p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr />
        <div class="stats">
          <!--i class="fa fa-calendar-o"></i> Last day -->
        </div>
      </div>
    </div>
  </div>
</div>

<!--      -->

<div class="row">
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats" routerLink="/gestionAlmacenRecibo">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="fa fa-users text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category"></p>
              <p class="card-title">Gestión Almacén Recibo</p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr />
        <div class="stats">
          <!--i class="fa fa-calendar-o"></i> Last day -->
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats" routerLink="/gestionAlmacenPMO">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="fa fa-users text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category"></p>
              <p class="card-title">Gestión Almacén PMO</p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr />
        <div class="stats">
          <!--i class="fa fa-calendar-o"></i> Last day -->
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats" routerLink="/creacionMantenimientoUDAs">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="fa fa-plus text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category"></p>
              <p class="card-title">Creación y Mantenimiento UDAs</p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr />
        <div class="stats">
          <!--i class="fa fa-calendar-o"></i> Last day -->
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner></ngx-spinner>